.App {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(216, 215, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.delete-icon{
    width: 45px;
}
.st0__delete-icon{fill:none;stroke:#5be3ec;stroke-width:5;stroke-miterlimit:16;}

.remove-icon{
    width: 55px;
}
	.st0__remove-icon{fill:none;stroke:rgb(255, 30, 30);stroke-miterlimit:16;}
	.st1__remove-icon{fill:none;stroke:red;stroke-miterlimit:16;}


.equal-btn{
    border-left-color:rgb(223, 174, 111) !important;
    background-color: rgb(223, 174, 111) !important;
    font-size: 48px !important;
}

.char-btn{
    font-size: 48px !important;
}

.remove-btn{
    background-color: rgb(0, 0, 0) !important;
}
